# **Topics**
- basic calculation
- variables
- type hints
- string methods
- data structures: list, tutple, dictionary
- control flow, try catch syntax
- function
- OOP
- import modules
- CSV examples
- a little bit of numpy and pandas
- Intro to sklearn basics & machine learning
- glimpse of tensorflow

# **Basic Calculation**

In [ ]:
# calculation 
1 + 1
print(1 + 1)
print(9 - 3)
print(5 * 8)
print(5 / 4)
print(9 ** 2)

2
6
40
1.25
81

# **Variables**

In [ ]:
# variables 
my_name = "Pume"
my_school = "Chulalongkorn University"
print(my_name)
print(my_school)
print("I'm learning python")
print('I\'m learning python')

Pume
Chulalongkorn University
I'm learning python
I'm learning python

1. ชื่อตัวแปรห้ามขึ้นด้วยตัวเลข
2. ตั้งชื่อ snake case e.g. name_first
3. lowercase

In [ ]:
# long string - """ """ (triple quotes)
long_quote = """This is a very long quote 
I am learning Python
The Zen of Python """
print(long_quote)

This is a very long quote
I am learning Python
The Zen of Python

# **Data Types**
1. String: str
2. Integer: int 
3. Float: float
4. Boolean: bool

In [ ]:
# data types
my_name = 'Pume'
age = 32
income = 39679.45
movie_lover = True

print(type(my_name))
print(type(age))
print(type(income))
print(type(movie_lover))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# check type
print(isinstance(my_name, str))
print(isinstance(age, int))
print(isinstance(income, float))
print(isinstance(movie_lover, bool))

True
True
True
True

In [ ]:
# print fstring template: f" " 
my_name = 'Pume'
age = 32
print( f"Hello, my name is {my_name} and I'm {age} years old." )

Hello, my name is Pume and I'm 32 years old.

In [ ]:
# fstring (old way): .format()
print( "Hello, my name is {} and I'm {} years old.".format(my_name, age) )

Hello, my name is Pume and I'm 32 years old.

In [ ]:
# string + string 
text = "Hello " + "World "
print( (text + "\n") * 5 )

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# type hints 
# dynamic typed 
name = 'Pume'
name2: str = "Pume"
age2: int = 32
print(type(name2))
print(type(age2))

<class 'str'>
<class 'int'>

# **Function**

In [ ]:
# define function 
def hello():
  print("hello world!")

# test function
hello()

hello world!

In [ ]:
# define function 
def hello(name3):
  print(f"Hello, {name3}!")

# test function
name3 = input("Name: ")
hello(name3)

Name: Pume
Hello, Pume!

In [ ]:
a = int(input("Number 1: "))
b = int(input("Number 2: "))

# define function
def sum_two_num(a: int, b: int) -> int:
  return a + b

# test function 
sum_two_num(a, b)

Number 1: 45
Number 2: 5666

5711

# **assert**

In [ ]:
c = input("Number: ")
# check input whether it is the desired data type 
assert isinstance(c, int), "Number should be integer"

# **String Method**

In [ ]:
text = "a duck walks into a bar"
print(len(text))
print(text.upper())
print(text.split(" "))
print(text.replace("duck", "lion"))

23
A DUCK WALKS INTO A BAR
['a', 'duck', 'walks', 'into', 'a', 'bar']
a lion walks into a bar
None

# **Index**
- start with index [0]
- end with index [-1]
- index [2:6] = from 2 to 5 (not include 6)
- index [0: :2] = [start: stop: step]

In [ ]:
text = "a duck walks into a bar"
print(text[0])
print(text[1])
print(text[2])
print(text[-1])

In [ ]:
print(text[2:6])
print(text[7:12])
print(text[13:])
print(text[0: :3])

duck
walks
into a bar
au l taa

In [ ]:
# string is immutable 
text2 = "I love hotdog."
text2 = text2.replace("hotdog", "sandwich")
print(text2)
## text2[0] = "They" -> TypeError: 'str' object does not support item assignment
text2 = "They" + text2[1:]
print(text2)

I love sandwich.
They love sandwich.

# **Data Structure**
- List [  ]: mutable, expandable, updatable
- Tuple (  ): immutable, unupdatable 
- Dictionary {  }: mutable, unordered, key-value pair

In [ ]:
# List

shopping_list = ['eggs', 'milk', 'bread']
print(shopping_list)
shopping_list[0] = 'carrot'
shopping_list: list
shopping_list_new = ['sugar', 'cake']
print(shopping_list_new)
shopping_total = shopping_list + shopping_list_new
print(shopping_total)

['eggs', 'milk', 'bread']
['sugar', 'cake']
['carrot', 'milk', 'bread', 'sugar', 'cake']

In [ ]:
# type hints : list 

friends: list = ["David", "Susan", "Joe", 100]
print(friends)

['David', 'Susan', 'Joe', 100]

In [ ]:
# type hints : list 

from typing import List 
friends: List[str] = ["David", "Susan", "Joe"]
salary: List[int] = [30000, 45000, 89000]
print(friends)
print(salary)

['David', 'Susan', 'Joe']
[30000, 45000, 89000]

In [ ]:
# method vs function 
# list method 

print(shopping_list)
shopping_list.append('chocolate milk') # .append()
print(shopping_list)
shopping_list.insert(1, "cheese") # .insert()
print(shopping_list)

['carrot', 'milk', 'bread']
['carrot', 'milk', 'bread', 'chocolate milk']
['carrot', 'cheese', 'milk', 'bread', 'chocolate milk']

In [ ]:
# list method 

shopping_list.remove('bread') # .remove()
print(shopping_list)

['carrot', 'cheese', 'milk', 'chocolate milk']

In [ ]:
# tuple 

username = ("paolino", "pumechan", "pasqualino")
print(type(username))
username[0]

<class 'tuple'>

'paolino'

In [ ]:
# tuple: multiple assignment 

username1, username2, username3 = username
print(username1)
print(username2)
print(username3)

paolino
pumechan
pasqualino

In [ ]:
# dictionary

customers = {
    "name": "David", 
    "age": 32,
    "city": "New York",
    "fav_movies": ["Totoro", "Minari", "Seobok"]
}
print(customers)

{'name': 'David', 'age': 32, 'city': 'New York', 'fav_movies': ['Totoro', 'Minari', 'Seobok']}

In [ ]:
# dictionary - subset
customers["name"]
customers["fav_movies"][2]

'Seobok'

In [ ]:
# List of dictionary [ {}, {}, {}]

list_customers = [
    {
      "name": "David", 
      "age": 32,
      "city": "New York",
      "fav_movies": ["Totoro", "Minari", "Seobok", "The Day After Tomorrow"]
    },
    {
      "name": "Jane", 
      "age": 27,
      "gender": "female",
      "city": "Kyoto",
      "fav_movies": ["Spirited Away", "Your Name", "Call Me By Your Name"]
    },
    {
      "name": "Takeshi", 
      "age": 21,
      "city": "Sydney",
      "fav_movies": None,
      "like_japan": True    
    }            
]

print(list_customers)

In [ ]:
# List of dictionary - subsets

list_customers[2]["city"]
list_customers[1]["fav_movies"][2]

'Call Me By Your Name'

In [ ]:
# List of dictionary - methods

customers = {
    "name": "David", 
    "age": 32,
    "city": "New York",
    "fav_movies": ["Totoro", "Minari", "Seobok"]
}

list(customers.keys()) # extract keys in dictionary
list(customers.values()) # extract values in dictionary
# customers["cities"] -> KeyError: 'cities'
customers.get("city") # extract information from dictionary

'New York'

# **Control Flow**
- if
- for
- while
- try catch (Error)

In [ ]:
# if 
score = int(input("Score: "))
if score >= 80:
  print("Passed")
else:
  print("Failed")

# type(score)

Score: 67
Failed

In [ ]:
# function grade
def grade():
    score = int(input("Score: "))
    if score >= 80:
        print("Passed")
    else:
        print("Failed")

grade()

Score: 223
Passed

In [ ]:
# function grade
def grade():
    score = int(input("Score: "))
    if score >= 80:
        return "Passed"
    else:
        return "Failed"

result = grade()
print(result)

Score: 456
Passed

In [ ]:
def grade2():
  score2 = int(input("Score: "))
  if score2 >= 80:
    return "A"
  elif score2 >= 70:
    return "B"
  elif score2 >= 60:
    return "C"
  elif score2 >= 50:
    return "D"
  else:
    return "F"

result2 = grade2()
print(result2)

Score: 67
C

In [ ]:
# while loop 1
count = 0
while count < 10:
  print("Hello World")
  count += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# while loop 2
def play_games():
  while True:
    print("Type q to quit the game.")
    real_answer = 'tiger'
    user_input = input("Guess an animal: ")
    if user_input.lower() == real_answer:
      return "Congratulations, your guess is correct!"
    else:
      print("Sorry, it's wrong. Keep guessing.")
    if user_input.lower() == "q":
      break
  print("Goodbye!")
play_games()

Type q to quit the game.
Guess an animal: dog
Sorry, it's wrong. Keep guessing.
Type q to quit the game.
Guess an animal: cat
Sorry, it's wrong. Keep guessing.
Type q to quit the game.
Guess an animal: tiger

'Congratulations, your guess is correct!'

In [ ]:
# for loop
friends = ["Jack", "Joe", "Jim", "Josh", "Jeremy"]
for friend in friends:
  print("Hello, " + friend.upper())

Hello, JACK
Hello, JOE
Hello, JIM
Hello, JOSH
Hello, JEREMY

In [ ]:
# for loop - list comprehension 
["Hello, " + friend.upper() for friend in friends]

['Hello, JACK', 'Hello, JOE', 'Hello, JIM', 'Hello, JOSH', 'Hello, JEREMY']

In [ ]:
# for loop 2
nums = [2, 23, 45, 55]
result =[]
for num in nums:
  result.append(5 * num)
print(result)

[10, 115, 225, 275]

In [ ]:
# for loop 2 - list comprehension

nums = [2, 23, 45, 55]
result = [4 * num for num in nums]
print(result)

[8, 92, 180, 220]

In [ ]:
# try catch 
# except -> run when there is an error

x = 10 
try: 
  x / 0
except:
  print(str(x) + " cannot be divided by 0")

10 cannot be divided by 0

In [ ]:
# try 
x = 1000

try: 
  print(x/0)

except ZeroDivisionError:
  print(str(x) + " cannot be divided by 0")

except NameError:
  print("Variable is not defined")

finally:
  print("It's done!")

1000 cannot be divided by 0
It's done!

# **Function**

In [ ]:
number = int(input("Number: "))

def cube(number):
  return (number ** 3)

cube(number)

Number: 3

27

In [ ]:
# function

def cube(number: int) -> int:
  assert isinstance(number, int), "Number should be an integer"
  return number ** 3

cube(54)

157464

In [ ]:
# lambda function: anonymous function

cube = lambda number: number ** 3
cube(3)

divide_num = lambda a, b: round(a/b, 3)
divide_num(109, 56)

1.946

In [ ]:
# list of tuple: [ (), (), ()]
cars = [('mazda', 2019),
        ('benz', 2020),
        ('volkswagen', 2018),
        ('bentley', 2017),
        ('ford', 2015)]

# .sort() and lambda function
cars.sort(key = lambda car: car[1], reverse = True)
print(cars)

[('benz', 2020), ('mazda', 2019), ('volkswagen', 2018), ('bentley', 2017), ('ford', 2015)]

# **Object Oriented Programming (OOP)**
- object and class 
- attributes 
- methods

In [ ]:
# object Dog()

class Dog():
  name = "fufu"
  age = 3
  color = 'brown'

my_dog = Dog()

print(my_dog.name)
print(my_dog.age)
print(my_dog.color)

fufu
3
brown

In [ ]:
# object Dog() -> constructor 

class Dog():
  def __init__(self, name, age, color):
    self.name = name 
    self.age = age
    self.color = color 

  def __str__(self):
    return f"Hello, I am a Dog Class and my name is {self.name}."
  
  def sitting(self):
    print("I'm sitting.")

  def eating(self, food_name):
    print( f"My favorite food is {food_name}.")
  
  def get_older(self):
    self.age += 1

In [ ]:
namhom = Dog('Namhom', 6, 'white')

In [ ]:
print(namhom.name)
print(namhom.age)
print(namhom.color)

Namhom
6
white

In [ ]:
jack = Dog('Jack', 2, 'brown')
print(jack.name)
print(jack.age)
print(jack.color)

Jack
2
brown

In [ ]:
jack.sitting()
namhom.eating("tofu")
print(jack.age)

I'm sitting.
My favorite food is tofu.
2

In [ ]:
print(namhom)
print(jack)

Hello, I am a Dog Class and my name is Namhom.
Hello, I am a Dog Class and my name is Jack.

# **ATM** 
- attribute: balance 
- methods: check balance, deposit, withdraw, online withdraw with OTP

In [ ]:
# ATM 
import random 

class ATM():
  def __init__(self, account_name, initial_cash):
    self.account_name = account_name
    self.balance = initial_cash
  
  def __str__(self):
    return f"ATM: {self.account_name}"

  def check_balance(self):
    print(f"Your Balance: {self.balance} THB")

  def deposit(self, money):
    self.balance += money
  
  def withdraw(self, money):
    if money > self.balance:
      print(f"Your Balance: {self.balance} \nNot Enough Money")
    else: 
      print("Your transaction is successful!")
      self.balance -= money
  
  def online_withdraw(self, money):
    if money > self.balance:
      print(f"Error: Not Enough Money \nYour Balance: {self.balance}")
    else:
      OTP = random.randint(100000, 999999)
      print(f"OTP: {OTP}")
      user_input = int(input("Please type OTP: "))
      if OTP == user_input:
        print("Success: Please receive your money.")
        self.balance -= money
      else: 
        print("Your OTP is incorrect. \nPlease try again.")

In [ ]:
# random a number with six digits 
import random 
random.randint(100000, 999999)

In [ ]:
vilazini = ATM("Vilazini", 30000) # Initial balance

In [ ]:
# check ATM account
print(vilazini.account_name)
print(vilazini.balance)
print(vilazini)

In [ ]:
vilazini.check_balance() # check balance

In [ ]:
vilazini.deposit(5000) # deposit

In [ ]:
vilazini.withdraw(500000000) # withdraw

In [ ]:
my_atm = ATM('Pume', 45000)
print(my_atm.account_name)
print(my_atm.balance)
print(my_atm)
my_atm.check_balance()

Pume
45000
ATM: Pume
Your Balance: 45000 THB

In [ ]:
my_atm.deposit(5000)
my_atm.check_balance()

Your Balance: 50000 THB

In [ ]:
my_atm.withdraw(1000)
my_atm.check_balance()

Your transaction is successful!
Your Balance: 48500 THB

In [ ]:
my_atm.online_withdraw(300)

OTP: 204164
Please type OTP: 204164
Success: Please receive your money.

# **Pandas**
- import numpy and pandas 
- change to arrays 
- statistical analysis: .mean(), .min(), .max(), .std(), .sum()
- download csv to dataframe: pd.read_csv()
- export file: .to_csv()
- methods: .head(), .tail(), .shape(), .query()

In [ ]:
# magic command 
!pwd
!ls
!ls sample_data

/content
sample_data
anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
!pip list

In [ ]:
import numpy as np
import pandas as pd 
# numpy is subset of pandas

In [ ]:
numbers = [1, 2, 5, 34, 56, 678, 34, 999]
# print(type(numbers))

numbers = np.array(numbers) # change to arrays
type(numbers)

numpy.ndarray

In [ ]:
# numpy and statistical analysis 

print(numbers.mean())
print(numbers.min())
print(numbers.max())
print(numbers.sum())
print(numbers.std())

226.125
1
999
1809
362.9915417403001

In [ ]:
# download csv to dataframe

movies = pd.read_csv("imdb.csv")

In [ ]:
# print first five rows in the CSV file uploaded 

movies.head()

   NO  ... SCORE
0   1  ...   9.3
1   2  ...   9.2
2   3  ...   9.0
3   4  ...   9.0
4   5  ...   8.9

[5 rows x 7 columns]

In [ ]:
movies.tail(3)

     NO           MOVIE_NAME  YEAR RATING  LENGTH           GENRE  SCORE
97   98  Requiem for a Dream  2000      R     102           Drama    8.3
98   99      American Beauty  1999      R     122           Drama    8.3
99  100    Good Will Hunting  1997      R     126  Drama, Romance    8.3

In [ ]:
# shape: (rows, columns) 
stores.shape # attributes

(100, 7)

In [ ]:
# filter data 
movie_r_drama = movies.query("RATING == 'R' & GENRE == 'Drama'")

In [ ]:
movies.query("RATING == 'R'").shape

(47, 7)

In [ ]:
# export csv 
movie_r_drama.to_csv("movie_r_drama.csv")